<%= render '/elements/banner'  %>

<div class="container-area">
  <div class="wrapper">
    <div class="conatiner">
      <div class="inner">
        <h1><%= @title %> </h1>
        <%= @description %> 
      </div>

    </div>
  </div>
</div>

<%= render '/elements/featured_properties'  %>