<%= render '/elements/banner'  %>

<div class="container-area">
  <div class="wrapper">
    <div class="conatiner">
      <div class="inner">
        <h1>Gallery</h1>
        <p>Coming Soon</p>
      </div>

    </div>
  </div>
</div>

<%= render '/elements/featured_properties'  %>